<%- include('../partials/header') %>
<%- include('../partials/navigation') %>
<h1>Blogs</h1>
<% if(blogs.length > 0) { %>
    <% blogs.forEach((blog) => { %>
        <a href="/blogs/<%= blog.id %>">
            <h2><%= blog.title %></h2>
            <p>Created at: <%= blog.createdAt %></p>
            <p><%= blog.blog %></p>
        </a>
    <% })  %>
<% } else { %>
    <p> No blogs to display ...</p>
<% } %>
<%- include('../partials/footer') %>